    {% extends "todo_app/base.html"  %}
    {% block title %}
        About Page
    {% endblock title%}
    {% block content %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <center>
                <h1 class="display-4">TO_DO LIST</h1>
                <p class="lead">This is a To-Do List for Python Django web development</p>
                <p class="lead">This is a To-Do List for Python Django web development</p>
                <p class="lead">This is a To-Do List for Python Django web development</p>
                <p class="lead">This is a To-Do List for Python Django web development</p>
                <p class="lead">This is a To-Do List for Python Django web development</p>
                  <p class="lead">This is a To-Do List for Python Django web development</p>
                <button type="button" class="btn btn-outline-success">Create To-Do List</button>
              </center>
          </div>
        </div>
    {% endblock content %}